@model IEnumerable<PruebaTecnica.Models.Articulo>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <p>
        @Html.ActionLink("Añadir artículo", "Create")
    </p>
    @{ Html.BeginForm();}
    <p>
        @Html.TextBox("Buscar")
        <input type="submit" value="Buscar" />
    </p>
    @{ Html.EndForm();}
    <p>
        @Html.ActionLink("Volver al listado general", "Index")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Familia)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Familia)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Codigo }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Codigo }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.Codigo })
                </td>
            </tr>
        }

    </table>
</body>
</html>
